.mat-toolbar a {
  text-decoration: none;
  color: inherit;
}

.mat-sidenav-container {
  position: relative;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.mat-sidenav-content {
  padding: 0.2em 1em;
}
